Exercises/iceCreamShop-ex4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org.com/2001/XMLSchema"
elementFormDefault="qualified">

<xs:complexType name="flavourType">
<xs:all>
<xs:element name="strawberry" minOccurs="0"/>
<xs:element name="vanilla" minOccurs="0"/>
<xs:element name="chocolate" minOccurs="0"/> 
</xs:all>
</xs:complexType>

<xs:complexType name="iceCreamShopType">
<xs:sequence>
<xs:element name="iceCream" type="flavourType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:element name="iceCreamShop" type="iceCreamShopType"/>
</xs:schema>