Examples/Ex-library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="book">
     </xs:sequence>
      </xs:complexType>
       <xs:complexType>
        <xs:sequence>
         <xs:element name="author" type="xs:string">
          <xs:element name="title" type="xs:string">
         <xs:element name="code" type="xs:decimal">
        </xs:sequence>
     </xs:complexType>
   </xs:element>
</xs:schema>