Examples/Exercise 2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="texto">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="capitulo" minOccurs="0" maxOccurs="unbounded"/>
    <xs:complexType>
    <xs:sequence>
  <xs:element name="parrafo" type="xs:string"/>
  </xs:sequence>
  <xs:attribute name="numeracion" type="xs:integer"/>
  <xs:attribute name="titulo" type="string"/>
  </xs:complexType>
</xs:element>